* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(135deg,#111,#222,#111);
}

/* Header Section */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3em;
    font-family: fantasy;
    color: #fff;
    pointer-events: none;
    margin-right: 270px;
}

/* Navigation */

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-header {
    position: absolute;
    font-size: 6em;
    color: #e58f0e;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
    font-family: fantasy;
    text-transform: uppercase;
}

/* Parallax Section*/

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: linear-gradient(180deg, rgba(32,84,74,1) 0%, rgba(89,78,46,1) 64%);
    padding: 100px;
    overflow: hidden;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

/* Section About us */

.wrapper img{
    max-width: 350px auto;
    float: left;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
   
}

.wrapper{
    margin: 50px auto;
    padding: 20px;
    border: 5px solid #e58f0e;
    border-radius: 20px;
    width: 80%;
    background-color:#359381;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.text-box h2{
    font-size: 40px;
    text-transform: uppercase;
}

.text-box{
    font-size: 24px;
}

.section-2{
    background-color: #594e2e;
}

.section-2 img{
    float: right;
    padding: 10px;
}

/* Form */

#contact{
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid #e58f0e;
    width: 50%;
    background-color: #594e2e;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, .2);
}

#contact h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

form{
	overflow: hidden;
	position: relative;
}

form{
	margin: 0 auto;
	width: 500px;
	color: white;
	position: relative;
}

label, input, textarea{
	display: block;	
}

input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-size: 1em;
	color: #676767;
	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: #359381;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}

/* JavaScript created section for stars */

section i {
    position:absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff;
    animation: animate linear infinite;
}

@keyframes animate {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
